src/eon-lib.xml-schema/eon.xml-schema/core.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
					 targetNamespace="urn:eon-2020:core"
					 attributeFormDefault="unqualified"
					 elementFormDefault="qualified"
					 version="1.0"
					 xmlns:me="urn:eon-2020:core"
					 xmlns:ox.dependencies="urn:eon-2020:component-model:dependencies"
					 xmlns:xdc="urn:eon-2020:runtime:serialization:xdatacontract">

	<xs:import namespace="urn:eon-2020:runtime:serialization:xdatacontract" />
	<xs:import namespace="urn:eon-2020:component-model:dependencies" />

	<xs:attributeGroup name="ms-serialization">
		<xs:anyAttribute namespace="http://schemas.microsoft.com/2003/10/Serialization/ http://schemas.datacontract.org/2004/07/System http://schemas.microsoft.com/2003/10/Serialization http://schemas.microsoft.com/2003/10/Serialization/Arrays" processContents="lax"/>
	</xs:attributeGroup>

	<xs:attributeGroup name="ox-description-package">
		<xs:anyAttribute processContents="strict"
										 namespace="urn:eon-2020:description:description-package:data-flow" />
	</xs:attributeGroup>

	<xs:simpleType name="ST_TcpPortNumber">
		<xs:restriction base="xs:unsignedShort">
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_String">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="ST_CultureName">
		<xs:restriction base="me:ST_String">
			<xs:pattern value="[a-z]{2}(-[A-Z]{2})?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_DotNetAssemblyCulture">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="me:ST_CultureName"/>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="me:ST_String">
					<xs:enumeration value="neutral" />
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>

	<xs:simpleType name="ST_NonEmptyStringNoCommas">
		<xs:restriction base="me:ST_NonEmptyString">
			<xs:pattern value="[^,]+" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_NonEmptyStringNoCommas256">
		<xs:restriction base="me:ST_NonEmptyStringNoCommas">
			<xs:maxLength value="256" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_NonEmptyNonLeadingTrailingWhitespaceString256">
		<xs:restriction base="me:ST_NonEmptyString">
			<xs:maxLength value="256" />
			<xs:pattern value="([^\s]+.*[^\s]+)$|^([^\s]?)" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_NonEmptyNonLeadingTrailingWhitespaceString16">
		<xs:restriction base="me:ST_NonEmptyNonLeadingTrailingWhitespaceString256">
			<xs:maxLength value="16" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_NonEmptyNonLeadingTrailingWhitespaceString4">
		<xs:restriction base="me:ST_NonEmptyNonLeadingTrailingWhitespaceString256">
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_NonEmptyNonLeadingTrailingWhitespaceString64">
		<xs:restriction base="me:ST_NonEmptyNonLeadingTrailingWhitespaceString256">
			<xs:maxLength value="64" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_Guid">
		<xs:restriction base="me:ST_String">
			<xs:pattern value="[A-Fa-f0-9]{8}\-([A-Fa-f0-9]{4}\-){3}[A-Fa-f0-9]{12}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Guid" type="me:ST_Guid" nillable="true" />

	<xs:simpleType name="ST_MetadataName" final="#all">
		<xs:restriction base="me:ST_NonEmptyString">
			<xs:maxLength value="128" />
			<xs:pattern value="[_\p{L}]{1}[\p{L}\p{Nd}_\-]{0,127}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_MetadataPathName">
		<xs:restriction base="me:ST_NonEmptyString">
			<xs:maxLength value="4127"/>
			<xs:pattern value="([_\p{L}]{1}[\p{L}\p{Nd}_\-]{0,127}){1}(\.[_\p{L}]{1}[\p{L}\p{Nd}_\-]{0,127}){0,31}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MetadataPathName" final="#all">
		<xs:simpleContent>
			<xs:extension base="me:ST_MetadataPathName">
				<xs:attributeGroup ref="me:ox-description-package" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="ST_Money">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="14" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_Version">
		<xs:restriction base="me:ST_String">
			<xs:pattern value="[1-9][0-9]{0,2}(\.(([1-9][0-9]{0,4})|([0]))){0,3}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_NonEmptyHexBinary">
		<xs:restriction base="xs:hexBinary">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_NonEmptyBase64Binary">
		<xs:restriction base="xs:base64Binary">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_HexBinaryFixed8" final="#all">
		<xs:restriction base="xs:hexBinary">
			<xs:length value="8" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_HexBinaryFixed4" final="#all">
		<xs:restriction base="xs:hexBinary">
			<xs:length value="4" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_NonZeroPositiveMoney">
		<xs:restriction base="me:ST_Money">
			<xs:minInclusive value=".01"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_NonNegativeMoney">
		<xs:restriction base="me:ST_Money">
			<xs:minInclusive value=".00"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_Notifications.NotificationLevel" final="#all">
		<xs:restriction base="me:ST_String">
			<xs:enumeration value="None" />
			<xs:enumeration value="Information" />
			<xs:enumeration value="Warning" />
			<xs:enumeration value="Error" />
			<xs:enumeration value="Critical" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="NotificationLevel" type="me:ST_Notifications.NotificationLevel" nillable="true"/>

	<xs:simpleType name="ST_System.StringComparison" final="#all">
		<xs:restriction base="me:ST_String">
			<xs:enumeration value="CurrentCulture" />
			<xs:enumeration value="CurrentCultureIgnoreCase" />
			<xs:enumeration value="InvariantCulture"/>
			<xs:enumeration value="InvariantCultureIgnoreCase"/>
			<xs:enumeration value="Ordinal"/>
			<xs:enumeration value="OrdinalIgnoreCase"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_System.Security.Cryptography.X509Certificates.X509RevocationMode" final="#all">
		<xs:restriction base="me:ST_String">
			<xs:enumeration value="NoCheck" />
			<xs:enumeration value="Online" />
			<xs:enumeration value="Offline"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_DescriptionPackageLocation" final="#all">
		<xs:restriction base="me:ST_String">
			<xs:enumeration value="NearDotNetAppConfigFile" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="DescriptionPackageLocation" type="me:ST_DescriptionPackageLocation" nillable="true" />

	<xs:simpleType name="ST_Identifier" final="#all">
		<xs:restriction base="me:ST_NonEmptyString">
			<xs:pattern value="[\p{L}]+(\p{L}|\p{Nd})*" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_System.ServiceModel.Security.X509CertificateValidationMode" final="#all">
		<xs:restriction base="me:ST_String">
			<xs:enumeration value="None"/>
			<xs:enumeration value="PeerTrust"/>
			<xs:enumeration value="ChainTrust"/>
			<xs:enumeration value="PeerOrChainTrust"/>
			<xs:enumeration value="Custom"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_System.ServiceModel.Security.SecurityAlgorithmSuiteName" final="#all">
		<xs:restriction base="me:ST_String">
			<xs:enumeration value="TripleDesSha256Rsa15" />
			<xs:enumeration value="TripleDesSha256" />
			<xs:enumeration value="TripleDesRsa15" />
			<xs:enumeration value="TripleDesRsa15" />
			<xs:enumeration value="TripleDes" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_System.Web.Http.IncludeErrorDetailPolicy" final="#all">
		<xs:restriction base="me:ST_String">
			<xs:enumeration value="Default" />
			<xs:enumeration value="LocalOnly" />
			<xs:enumeration value="Always" />
			<xs:enumeration value="Never" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_CertificateThumbprintHexBinary">
		<xs:restriction base="xs:hexBinary">
			<xs:minLength value="8" />
			<xs:maxLength value="64" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_NonEmptyString">
		<xs:restriction base="me:ST_String">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_PositiveFloat">
		<xs:restriction base="xs:float">
			<xs:minExclusive value="0.0" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_Timeout">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="-1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_NonInfiniteTimeout">
		<xs:restriction base="me:ST_Timeout">
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NonInfiniteTimeout">
		<xs:simpleContent>
			<xs:extension base="me:ST_NonInfiniteTimeout">
				<xs:attributeGroup ref="me:ox-description-package" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="ST_PositiveLong">
		<xs:restriction base="xs:long">
			<xs:minExclusive value="0" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_PositiveInt">
		<xs:restriction base="xs:int">
			<xs:minExclusive value="0" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_NonNegativeInt">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_NonNegativeLong">
		<xs:restriction base="xs:long">
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_MediaTypeName">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="me:ST_NonEmptyString">
					<xs:enumeration value="application/json" />
					<xs:enumeration value="application/xml" />
					<xs:enumeration value="application/gzip" />
					<xs:enumeration value="application/zip" />
					<xs:enumeration value="text/xml" />
					<xs:enumeration value="text/csv" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="me:ST_NonEmptyString" />
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>

	<xs:simpleType name="LockAcquisitionFailReason" final="#all">
		<xs:restriction base="me:ST_String">
			<xs:enumeration value="Unknown" />
			<xs:enumeration value="MaxSizeOfRecursiveLockReached" />
			<xs:enumeration value="InvalidHints" />
			<xs:enumeration value="InvalidTimeout" />
			<xs:enumeration value="MaxSizeOfWaitingQueueReached" />
			<xs:enumeration value="RepeatedUsageOfCookie" />
			<xs:enumeration value="TimeoutElapsed" />
			<xs:enumeration value="RaceCondition" />
			<xs:enumeration value="NullResource" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="LockReleaseFailReason" final="#all">
		<xs:restriction base="me:ST_String">
			<xs:enumeration value="Unknown" />
			<xs:enumeration value="InvalidThread" />
			<xs:enumeration value="InvalidCookie" />
			<xs:enumeration value="InconsequentRelease" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_System.Text.RegularExpressions.RegexOptions" final="#all">
		<xs:restriction>
			<xs:simpleType>
				<xs:list>
					<xs:simpleType>
						<xs:restriction base="me:ST_String">
							<xs:enumeration value="None" />
							<xs:enumeration value="IgnoreCase" />
							<xs:enumeration value="Multiline" />
							<xs:enumeration value="ExplicitCapture" />
							<xs:enumeration value="Singleline" />
							<xs:enumeration value="IgnorePatternWhitespace" />
							<xs:enumeration value="RightToLeft" />
							<xs:enumeration value="ECMAScript" />
							<xs:enumeration value="CultureInvariant" />
							<xs:enumeration value="Compiled" />
						</xs:restriction>
					</xs:simpleType>
				</xs:list>
			</xs:simpleType>
			<xs:maxLength value="10" />
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_System.IO.Compression.CompressionMode" final="#all">
		<xs:restriction base="me:ST_String">
			<xs:enumeration value="Decompress" />
			<xs:enumeration value="Compress" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_KnownUriBasedIdentifier">
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:undefined" />
			<!---->
			<xs:enumeration value="urn:sintegro:ox:security:cryptography:algorithm:2017-05:rsa" />
			<xs:enumeration value="urn:sintegro:ox:security:cryptography:algorithm:2017-07:sha1" />
			<xs:enumeration value="urn:sintegro:ox:security:cryptography:algorithm:2017-07:sha256" />
			<xs:enumeration value="urn:sintegro:ox:security:cryptography:algorithm:2017-07:sha512" />
			<xs:enumeration value="urn:sintegro:ox:security:cryptography:algorithm:2017-05:ecdsa" />
			<xs:enumeration value="urn:sintegro:ox:security:cryptography:key-blob:style:2018-01:csp" />
			<!---->
			<xs:enumeration value="urn:sintegro:ox:authn-scheme:password" />
			<!---->
			<xs:enumeration value="urn:sintegro:ox:token-style:jwt" />
			<!---->
			<xs:enumeration value="urn:sintegro:ox:diagnostics:subject:heartbeat" />
			<!---->
			<xs:enumeration value="urn:sintegro:ox:identity-model:ip:2017-09:google" />
			<xs:enumeration value="urn:sintegro:ox:identity-model:ip:2017-09:facebook" />
			<xs:enumeration value="urn:sintegro:ox:identity-model:ip:2017-09:yandex" />
			<xs:enumeration value="urn:sintegro:ox:identity-model:ip:2017-09:microsoft" />
			<xs:enumeration value="urn:sintegro:ox:identity-model:ip:2017-09:app-self" />
			<xs:enumeration value="urn:sintegro:ox:identity-name-scope" />
			<xs:enumeration value="urn:sintegro:ox:actor-token-id" />
			<!---->
			<xs:enumeration value="urn:microsoft:windows:cng:2017-05:software-key-storage" />
			<xs:enumeration value="urn:microsoft:windows:cng:2017-05:smartcard-key-storage" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_UriBasedIdentifier">
		<xs:union memberTypes="xs:anyURI me:ST_KnownUriBasedIdentifier" />
	</xs:simpleType>

	<xs:simpleType name="ST_UriBasedIdentifier160">
		<xs:restriction base="me:ST_UriBasedIdentifier">
			<xs:pattern value=".{0,160}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_ResetServantResetFailureResponseCode" final="#all">
		<xs:restriction base="me:ST_String">
			<xs:enumeration value="None" />
			<xs:enumeration value="RunProgram" />
			<xs:enumeration value="RunProgramThenShutdownApp" />
		</xs:restriction>
	</xs:simpleType>

	<!-- ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• -->
	<!-- ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• -->
	<!-- •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• COMPLEX TYPES •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• -->
	<!-- ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• -->
	<!-- ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• -->

	<xs:complexType name="String" mixed="false">
		<xs:simpleContent>
			<xs:extension base="me:ST_String">
				<xs:attributeGroup ref="me:ms-serialization"/>
				<xs:attributeGroup ref="me:ox-description-package" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Object" mixed="false">
		<xs:sequence />
		<xs:attributeGroup ref="me:ms-serialization"/>
		<xs:attributeGroup ref="me:ox-description-package" />
	</xs:complexType>

	<xs:complexType name="MetadataName" final="#all" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:Object">
				<xs:sequence>
					<xs:element name="Value" type="me:ST_MetadataName" nillable="false"  />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MetadataName" type="me:MetadataName" nillable="true" />

	<xs:complexType name="Collection2" abstract="true" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:Object">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Collection" type="me:Collection2" nillable="true" />

	<xs:complexType name="MetadataBase" abstract="true" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:ReadOnlyLockable">
				<xs:sequence>
					<xs:element name="Name" type="me:ST_MetadataName" nillable="true" minOccurs="0" />
					<xs:element name="Guid" type="me:ST_Guid" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Metadata" type="me:MetadataBase" nillable="true" />

	<xs:complexType name="MetadataCollection" mixed="false" final="#all">
		<xs:complexContent mixed="false">
			<xs:extension base="me:Collection2">
				<xs:sequence>
					<xs:element ref="me:Metadata" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MetadataCollection" type="me:MetadataCollection" nillable="true" />

	<xs:complexType name="DescriptionBase" mixed="false" abstract="true">
		<xs:complexContent mixed="false">
			<xs:extension base="me:MetadataBase">
				<xs:sequence>
					<xs:element name="ContractType" type="me:TypeNameRef" nillable="true" minOccurs="0" />
					<xs:element name="InitializationTimeout" type="me:TimeoutDuration" nillable="true" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Description" type="me:DescriptionBase" nillable="true" />

	<xs:complexType name="XAppDescriptionBase" mixed="false" abstract="true">
		<xs:complexContent mixed="false">
			<xs:extension base="ox.dependencies:DependencySupportDescriptionBase">
				<xs:sequence>
					<xs:element name="MessageIssuer" type="me:MetadataRef" nillable="true" />
					<xs:element name="LoggingAutoSubscription" type="me:MetadataRef" nillable="true" />
					<xs:element name="AppInitializationList" type="me:MetadataRef" nillable="true" />
					<xs:element name="AppStartActivationList" type="me:MetadataRef" nillable="true" />
					<xs:element name="AppTitle" type="me:ST_String" nillable="true" />
					<xs:element name="AppVersion" type="me:ST_Version" nillable="true" />
					<xs:element name="AppInstanceIdTemplate" type="me:ST_String" nillable="true" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LimeEnvironmentProviderXAppDescription" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:XAppDescriptionBase">
				<xs:sequence>
					<xs:element name="LockTimeout" type="me:TimeoutDuration" nillable="true"  />
					<xs:element name="MaxLockTimeout" type="me:TimeoutDuration" nillable="true"  />
					<xs:element name="AsyncOperationTimeout" type="me:TimeoutDuration" nillable="true"  />
					<xs:element name="DataContractNamespaceAssemblyMapRef" type="me:MetadataRef" nillable="true" />
					<xs:element name="DependencyResolutionSettingsRef" type="me:MetadataRef" nillable="true" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LimeEnvironmentProviderXAppDescription" type="me:LimeEnvironmentProviderXAppDescription" nillable="true" />

	<xs:simpleType name="ST_XInstanceStates" final="#all">
		<xs:restriction base="me:ST_String">
			<xs:pattern value="((None|Created|InitializeSent|Initialized|Disposed|Faulted|NoDescription){1}( (None|Created|InitializeSent|Initialized|Disposed|Faulted|NoDescription){1}){0,6})"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="CertificateThumbprint" final="#all" mixed="false">
		<xs:simpleContent>
			<xs:restriction base="me:String">
				<xs:pattern value="[A-Fa-f0-9]{40}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="OidCollectionString" mixed="false" final="#all">
		<xs:simpleContent>
			<xs:restriction base="me:String">
				<xs:pattern value="(([0-9]+(\.[0-9]+)*)+(,[0-9]+(\.[0-9]+)*)*)"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>

	<xs:group name="G_DotNetAssemblyNameReference">
		<xs:sequence>
			<xs:element name="AssemblyName" type="me:ST_NonEmptyStringNoCommas256" nillable="false"  />
			<xs:element name="Version" type="me:ST_Version" nillable="false"  />
			<xs:element name="Culture" type="me:ST_DotNetAssemblyCulture" nillable="false"  />
			<xs:element name="PublicKeyToken" type="me:ST_HexBinaryFixed8" nillable="false"  />
		</xs:sequence>
	</xs:group>

	<xs:complexType name="DotNetStrongAssemblyNameReference" mixed="false" final="#all">
		<xs:complexContent mixed="false">
			<xs:extension base="me:MetadataBase">
				<xs:group ref="me:G_DotNetAssemblyNameReference"  />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DotNetStrongAssemblyNameReference" type="me:DotNetStrongAssemblyNameReference" nillable="true" />

	<xs:complexType name="DotNetStrongAssemblyNameReferenceCollection" mixed="false" final="#all">
		<xs:complexContent mixed="false">
			<xs:extension base="me:Collection2">
				<xs:sequence>
					<xs:element ref="me:DotNetStrongAssemblyNameReference" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DisposeNotifying" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:DisposableSlim">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DisposableSlim" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:Object">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Lockable" mixed="false" abstract="true">
		<xs:complexContent mixed="false">
			<xs:extension base="me:DisposeNotifying">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ReadOnlyLockable" mixed="false" abstract="true">
		<xs:complexContent mixed="false">
			<xs:extension base="me:Lockable">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Namespace" mixed="false" final="#all">
		<xs:complexContent mixed="false">
			<xs:restriction base="me:MetadataBase">
				<xs:sequence>
					<xs:element name="Name" type="me:ST_MetadataName" nillable="false"  />
					<xs:element name="Guid" type="me:ST_Guid" nillable="false" minOccurs="0" maxOccurs="1" />
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="MetadataRefBase" abstract="true" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:Object">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="MetadataRef" abstract="true" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:MetadataRefBase">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MetadataRef" type="me:MetadataRef" nillable="true" />

	<xs:complexType name="MetadataRefCollection" mixed="false" final="#all">
		<xs:complexContent mixed="false">
			<xs:extension base="me:Collection2">
				<xs:sequence>
					<xs:element ref="me:MetadataRef" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="MetadataPathNameRef" mixed="false" final="#all">
		<xs:complexContent mixed="false">
			<xs:extension base="me:MetadataRef">
				<xs:sequence>
					<xs:element name="Name" type="me:MetadataPathName" nillable="false"  />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MetadataPathNameRef" type="me:MetadataPathNameRef" nillable="true" />

	<xs:complexType name="MetadataRefSetBase" mixed="false" abstract="true">
		<xs:complexContent mixed="false">
			<xs:extension base="me:ReadOnlyLockable">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="MetadataRefSet" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:MetadataRefSetBase">
				<xs:sequence>
					<xs:element name="Refs" type="me:MetadataRefCollection" nillable="true" minOccurs="0" maxOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="NotificationBase" mixed="false" abstract="true">
		<xs:complexContent mixed="false">
			<xs:extension base="me:DisposeNotifying">
				<xs:sequence>
					<xs:element name="Level" type="me:ST_Notifications.NotificationLevel" nillable="false" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DescriptionInfo" mixed="false" final="#all">
		<xs:complexContent mixed="false">
			<xs:extension base="me:Object">
				<xs:sequence>
					<xs:element name="Guid" type="me:ST_Guid" nillable="true" />
					<xs:element name="FullName" type="me:ST_String" nillable="true" />
					<xs:element name="PackageName" type="me:ST_String" nillable="true" />
					<xs:element name="PackageSiteOrigin" type="xs:anyURI" nillable="true" />
					<xs:element name="UIName" type="me:ST_String" nillable="true" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="TimeoutDuration" mixed="false" final="#all">
		<xs:complexContent mixed="false">
			<xs:extension base="me:Object">
				<xs:sequence>
					<xs:element name="Milliseconds" type="me:ST_Timeout"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="CustomXAppDescriptionBase" mixed="false" abstract="true">
		<xs:complexContent mixed="false">
			<xs:extension base="me:XAppDescriptionBase">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="BlankXAppDescription" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:CustomXAppDescriptionBase">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DotNetAssemblyName" mixed="false" final="#all">
		<xs:complexContent mixed="false">
			<xs:extension base="me:Object">
				<xs:sequence>
					<xs:element name="Name" type="me:ST_NonEmptyString" nillable="true"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DotNetAssemblyName" type="me:DotNetAssemblyName" nillable="true" />

	<xs:complexType name="DotNetAssemblyNameCollection" mixed="false" final="#all">
		<xs:complexContent mixed="false">
			<xs:extension base="me:Collection2">
				<xs:sequence>
					<xs:element ref="me:DotNetAssemblyName" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="IDataContractNamespaceAssemblyMap" mixed="false" abstract="true">
		<xs:complexContent mixed="false">
			<xs:extension base="me:Object">
				<xs:sequence>
					<xs:element name="ContractNamespace" type="xs:anyURI" nillable="true"/>
					<xs:element name="Assemblies" type="me:DotNetAssemblyNameCollection" nillable="true" />
				</xs:sequence>
				<xs:attribute ref="xdc:TreatAsKnownDataContractNamespaceAssemblyMapping" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DataContractNamespaceAssemblyMap" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:IDataContractNamespaceAssemblyMap">
				<xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DataContractNamespaceAssemblyMap" type="me:DataContractNamespaceAssemblyMap" nillable="true" />

	<xs:complexType name="DataContractNamespaceAssemblyMapCollection" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:Collection2">
				<xs:sequence>
					<xs:element name="Map" type="me:IDataContractNamespaceAssemblyMap" nillable="true" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DataContractNamespaceAssemblyMapDescription" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:DescriptionBase">
				<xs:sequence>
					<xs:element name="Maps" type="me:DataContractNamespaceAssemblyMapCollection" nillable="true" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ActivationListDescription" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:DescriptionBase">
				<xs:sequence>
					<xs:element name="OmitItemsActivation" type="xs:boolean" nillable="false" />
					<xs:element name="ActivatableItems" type="me:MetadataRefSet" nillable="true" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="XAppPostStartActivationListDescription" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:ActivationListDescription">
				<xs:sequence />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="XAppInitializationListDescription" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:DescriptionBase">
				<xs:sequence>
					<xs:element name="IsDisabled" type="xs:boolean" nillable="false" />
					<xs:element name="InitializableItemsRefSet" type="me:MetadataRefSet" nillable="true" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="EmailAddressData" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:Object">
				<xs:sequence>
					<xs:element name="Address" type="me:ST_NonEmptyString" nillable="true" />
					<xs:element name="DisplayName" type="me:ST_String" nillable="true" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EmailAddressData" type="me:EmailAddressData" nillable="true" />

	<xs:complexType name="TypeNameRef" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:Object">
				<xs:choice>
					<xs:sequence>
						<xs:element name="Assembly" type="me:ST_NonEmptyNonLeadingTrailingWhitespaceString256" nillable="false" />
						<xs:element name="Type" type="me:ST_NonEmptyNonLeadingTrailingWhitespaceString256" nillable="false" />
					</xs:sequence>
					<xs:element name="SerializationString" nillable="false">
						<xs:simpleType>
							<xs:restriction base="me:ST_NonEmptyString">
								<xs:pattern value="^(\s*assembly=[^\;\n]+\;[\s\n]*type=[^\;\n]+\;?\s*)$"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="TypeNameRef" type="me:TypeNameRef" nillable="true" />

	<xs:complexType name="ReadOnlyScopeBase" mixed="false" abstract="true">
		<xs:complexContent mixed="false">
			<xs:extension base="me:DisposeNotifying">
				<xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="CopyableDisposableBase" mixed="false" abstract="true">
		<xs:complexContent mixed="false">
			<xs:extension base="me:DisposeNotifying">
				<xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="CopyableReadOnlyScopeBase" mixed="false" abstract="true">
		<xs:complexContent mixed="false">
			<xs:extension base="me:CopyableDisposableBase">
				<xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="UriBasedIdentifier" mixed="false" final="extension">
		<xs:complexContent mixed="false">
			<xs:extension base="me:Object">
				<xs:sequence>
					<xs:element name="Value" type="me:ST_UriBasedIdentifier" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="UriBasedIdentifier" type="me:UriBasedIdentifier" nillable="true"/>

	<xs:complexType name="UriBasedIdentifier160" mixed="false" final="extension">
		<xs:complexContent mixed="false">
			<xs:restriction base="me:UriBasedIdentifier">
				<xs:sequence>
					<xs:element name="Value" type="me:ST_UriBasedIdentifier160" />
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="UriBasedIdentifierSet" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:Collection2">
				<xs:sequence>
					<xs:element name="Id" type="me:UriBasedIdentifier" minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="UriBasedIdentifierSet" type="me:UriBasedIdentifierSet" nillable="true"/>

	<xs:complexType name="RegexConstructParameters" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:Object">
				<xs:sequence>
					<xs:element name="Pattern" type="me:ST_String" nillable="true" />
					<xs:element name="Options" type="me:ST_System.Text.RegularExpressions.RegexOptions" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="RetryOptions" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:Object">
				<xs:sequence>
					<xs:element name="MaxCount">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="-1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Interval" type="me:TimeoutDuration" nillable="true"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ActivationServantDescription" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:DescriptionBase">
				<xs:sequence>
					<xs:element name="IsDisabled" type="xs:boolean" />
					<xs:element name="IsAutoActivationEnabled" type="xs:boolean" />
					<xs:element name="Component" type="me:MetadataRef" nillable="true"/>
					<xs:element name="RetryOptions" type="me:RetryOptions" nillable="true"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ResetServantDescription" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:DescriptionBase">
				<xs:sequence>
					<xs:element name="IsDisabled" type="xs:boolean" />
					<xs:element name="IsAutoActivationEnabled" type="xs:boolean" />
					<xs:element name="Component" type="me:MetadataRef" nillable="true"/>
					<xs:element name="ResetTrigger" type="me:MetadataRef" nillable="true"/>
					<xs:element name="ResetFailureResponseCode" type="me:ST_ResetServantResetFailureResponseCode"/>
					<xs:element name="ResetFailureProgram" type="me:ST_NonEmptyString" nillable="true"/>
					<xs:element name="ResetFailureProgramArgs" type="me:ST_String" nillable="true"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="FilesArchivationOptions" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:Object">
				<xs:sequence>
					<xs:element name="DirectoryPath" type="me:ST_String" nillable="true" />
					<xs:element name="IncludeSubdirectories" type="xs:boolean" />
					<xs:element name="RelativeFilePathRegex" type="me:RegexConstructParameters" nillable="true"/>
					<xs:element name="ArchiveDirectoryPath" type="me:ST_String" nillable="true" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FilesArchivationOptions" type="me:FilesArchivationOptions" nillable="true"/>

</xs:schema>