src/eon-lib.xml-schema/eon.xml-schema/diagnostics.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
					 targetNamespace="urn:eon-2020:diagnostics"
					 attributeFormDefault="unqualified"
					 elementFormDefault="qualified"
					 version="1.0"
					 xmlns:me="urn:eon-2020:diagnostics"
					 xmlns:d="urn:eon-2020:core"
					 xmlns:criteria-operators="urn:eon-2020:data:filters:criteria:operators"
					 xmlns:ox="urn:eon-2020:core"
					 xmlns:p.me="urn:eon-2020:diagnostics">

	<xs:import namespace="urn:eon-2020:core"/>
	<xs:import namespace="urn:eon-2020:data:filters:criteria:operators"/>

	<xs:simpleType name="ST_String2048" final="#all">
		<xs:restriction base="d:ST_String">
			<xs:maxLength value="2048"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_String24576" final="#all">
		<xs:restriction base="d:ST_String">
			<xs:maxLength value="24576"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_NotEmptyString32">
		<xs:restriction base="d:ST_NonEmptyString">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_String192">
		<xs:restriction base="d:ST_String">
			<xs:maxLength value="192"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_SeverityLevel" final="#all">
		<xs:restriction base="d:ST_String">
			<xs:enumeration value="Lowest" />
			<xs:enumeration value="Low" />
			<xs:enumeration value="Medium" />
			<xs:enumeration value="High" />
			<xs:enumeration value="Highest" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="SeverityLevel" type="me:ST_SeverityLevel" nillable="true" />

	<xs:simpleType name="ST_VerbosityLevel" final="#all">
		<xs:restriction base="d:ST_String">
			<xs:enumeration value="Low" />
			<xs:enumeration value="Medium" />
			<xs:enumeration value="High" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="VerbosityLevel" type="me:ST_VerbosityLevel" nillable="true" />

	<xs:simpleType name="ST_LoggingRetentionPolicy" final="#all">
		<xs:restriction base="d:ST_String">
			<xs:enumeration value="None" />
			<xs:enumeration value="Archive" />
			<xs:enumeration value="Overwrite" />
			<xs:enumeration value="Custom" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="SintegroErrorCode" mixed="false" final="#all">
		<xs:complexContent mixed="false">
			<xs:extension base="d:Object">
				<xs:sequence>
					<xs:element name="Identifier" type="me:ST_NotEmptyString32" nillable="false" />
					<xs:element name="SeverityLevel" type="me:ST_SeverityLevel" nillable="true" minOccurs="0" />
					<xs:element name="Description" type="me:ST_String192" nillable="true" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ExceptionInfo" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="d:DisposableSlim">
				<xs:sequence>
					<xs:element name="TypeName" type="d:ST_NonEmptyString" nillable="false"  />
					<xs:element name="Message" type="d:ST_String" nillable="true" minOccurs="0" maxOccurs="1" />
					<xs:element name="StackTrace" type="d:ST_String" nillable="true" minOccurs="0" maxOccurs="1" />
					<xs:element name="InnerExceptions" type="me:ExceptionInfoCollection" nillable="true" minOccurs="0" maxOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ExceptionInfo" type="me:ExceptionInfo" nillable="true" />

	<xs:complexType name="ExceptionInfoCollection" mixed="false" final="#all">
		<xs:complexContent mixed="false">
			<xs:extension base="d:Collection2">
				<xs:sequence>
					<xs:element ref="me:ExceptionInfo" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LoggingSubscriberDescriptionBase" mixed="false" abstract="true">
		<xs:complexContent mixed="false">
			<xs:extension base="d:DescriptionBase">
				<xs:sequence>
					<xs:element name="IsDisabled" type="xs:boolean" />
					<xs:element name="Filters" type="d:MetadataRefSet" nillable="true" />
					<xs:element name="FilterNullCoalesce" type="xs:boolean" />
					<xs:element name="OutputTimeout" type="ox:TimeoutDuration" nillable="true" />
					<xs:element name="LocalizationCultureName" type="d:ST_CultureName" nillable="true" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LoggingAutoSubscriptionDescription" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="d:DescriptionBase">
				<xs:sequence>
					<xs:element name="IsDisabled" type="xs:boolean" />
					<xs:element name="Subscribers" type="d:MetadataRefSet" nillable="true" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LoggingNotificationBase" mixed="false" abstract="true">
		<xs:complexContent mixed="false">
			<xs:extension base="d:NotificationBase">
				<xs:sequence>
					<xs:element name="SessionId" type="d:ST_Guid" nillable="false" />
					<xs:element name="SequentialId" type="xs:long" nillable="false" />
					<xs:element name="ActivityName" type="d:ST_String" nillable="true" />
					<xs:element name="DateTimeUtc" type="xs:dateTime" nillable="false" />
					<xs:element name="DescriptionSourceInfo" type="d:DescriptionInfo" nillable="true" minOccurs="0" />
					<xs:element name="MessageBody" type="me:ST_String24576" nillable="true" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LoggingErrorNotification" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:LoggingNotificationBase">
				<xs:sequence>
					<xs:element name="SeverityLevel" type="me:ST_SeverityLevel" nillable="true" minOccurs="0" />
					<xs:element name="ErrorInfo" type="me:ExceptionInfo" nillable="true"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LoggingCriticalErrorNotification" mixed="false" final="#all">
		<xs:complexContent mixed="false">
			<xs:extension base="me:LoggingErrorNotification">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LoggingInformationNotification" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:LoggingNotificationBase">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LoggingWarningNotification" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:LoggingNotificationBase">
				<xs:sequence>
					<xs:element name="SeverityLevel" type="me:ST_SeverityLevel" nillable="true" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DiagnosticsSubjectBase" mixed="false" abstract="true">
		<xs:complexContent mixed="false">
			<xs:extension base="ox:DisposableSlim">
				<xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DiagnosticsSubject" type="me:DiagnosticsSubjectBase" nillable="true" />

	<xs:complexType name="DiagnosticsSubjectCollection" mixed="false" final="#all">
		<xs:complexContent mixed="false">
			<xs:extension base="ox:Collection2">
				<xs:sequence>
					<xs:element ref="me:DiagnosticsSubject" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="OperabilityDiagnosticsSubject" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:DiagnosticsExecutorDescriptionBase">
				<xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DiagnosticsExecutorDescriptionBase" mixed="false" abstract="true">
		<xs:complexContent mixed="false">
			<xs:extension base="ox:DescriptionBase">
				<xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="ST_WindowsEventLogSourceName" final="#all">
		<xs:restriction base="d:ST_NonEmptyString">
			<xs:pattern value="^([_\p{L}\p{Nd}]{1}([_\p{L}\p{Nd}\p{Zs}\.\:\,]{0,252}[_\p{L}\p{Nd}]{1}){0,1})$"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_MethodLoadTestCallCount">
		<xs:restriction base="d:ST_PositiveInt">
			<xs:maxInclusive value="2046"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_MethodLoadTestMaxCallIntervalMilliseconds">
		<xs:restriction base="d:ST_NonNegativeInt">
			<xs:maxInclusive value="16777215"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ST_MethodLoadTestDegreeOfParallelism">
		<xs:restriction base="d:ST_PositiveInt">
			<xs:maxInclusive value="64"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="MethodLoadTest" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="d:DescriptionBase">
				<xs:sequence>
					<xs:element name="CallCount" type="me:ST_MethodLoadTestCallCount" nillable="false" />
					<xs:element name="MaxCallIntervalMilliseconds" type="me:ST_MethodLoadTestMaxCallIntervalMilliseconds" nillable="false" />
					<xs:element name="DegreeOfParallelism" type="me:ST_MethodLoadTestDegreeOfParallelism" nillable="false" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MethodLoadTest" type="me:MethodLoadTest" nillable="true" />

	<xs:complexType name="MethodLoadTestCallReport" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="d:DisposableSlim">
				<xs:sequence>
					<xs:element name="MethodName" type="d:ST_String" nillable="true" />
					<xs:element name="MethodTarget" type="d:ST_String" nillable="true" />
					<xs:element name="SequentialIndex" type="xs:int" nillable="false" />
					<xs:element name="CallQueueIndex" type="xs:int" nillable="false" />
					<xs:element name="StartMilliseconds" type="d:ST_NonNegativeLong" nillable="false" />
					<xs:element name="EndMilliseconds" type="d:ST_NonNegativeLong" nillable="false" />
					<xs:element name="IsFailed" type="xs:boolean" nillable="false" />
					<xs:element name="FailInfo" type="p.me:ExceptionInfo" nillable="true"  />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MethodLoadTestCallReport" type="me:MethodLoadTestCallReport" nillable="true"/>

	<xs:complexType name="MethodLoadTestCallReportCollection" mixed="false" final="#all">
		<xs:complexContent mixed="false">
			<xs:extension base="d:Collection2">
				<xs:sequence>
					<xs:element ref="me:MethodLoadTestCallReport" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="MethodLoadTestReport" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="d:DisposableSlim">
				<xs:sequence>
					<xs:element name="TestDescription" type="me:MethodLoadTest" nillable="true" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Calls" type="me:MethodLoadTestCallReportCollection" nillable="true" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MethodLoadTestReport" type="me:MethodLoadTestReport" nillable="true" />

	<xs:complexType name="ServiceOperationLoadTest" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:MethodLoadTest">
				<xs:sequence>
					<xs:element name="RequestTimeoutSeconds" type="d:ST_NonNegativeInt" nillable="false" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ServiceOperationLoadTest" type="me:ServiceOperationLoadTest" nillable="true" />

	<xs:complexType name="WindowsEventLogSourceDescription" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="d:DescriptionBase">
				<xs:sequence>
					<xs:element name="SourceName" type="me:ST_WindowsEventLogSourceName" nillable="true" minOccurs="1" maxOccurs="1" default="A12 .52"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="WindowsEventLogLoggingSubscriberDescription" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="p.me:LoggingSubscriberDescriptionBase">
				<xs:sequence>
					<xs:element name="EventSource" type="d:MetadataRef" nillable="true" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SmtpLoggingSubscriberDescription" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="p.me:LoggingSubscriberDescriptionBase">
				<xs:sequence>
					<xs:element name="SmtpClientRef" type="d:MetadataRef" nillable="true"/>
					<xs:element name="RecipientsAddresses" nillable="true">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="d:EmailAddressData" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="SubjectPrologue" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="d:ST_NonEmptyString">
								<xs:maxLength value="96"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="AttachmentsTotalSizeLimit" type="d:ST_NonNegativeInt" nillable="true" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="FilesLoggingSubscriberDescriptionBase" mixed="false" abstract="true">
		<xs:complexContent mixed="false">
			<xs:extension base="p.me:LoggingSubscriberDescriptionBase">
				<xs:sequence>
					<xs:element name="OutputDirectoryPath" type="d:ST_NonEmptyString" nillable="true" />
					<xs:element name="OutputFileNameTemplate" type="d:ST_NonEmptyString" nillable="true" />
					<xs:element name="MaxOutputFileSize" type="d:ST_NonNegativeLong" minOccurs="0" nillable="true" />
					<xs:element name="RetentionPolicy" type="me:ST_LoggingRetentionPolicy" minOccurs="0" nillable="true" />
					<xs:element name="ArchiveDirectoryPath" type="d:ST_NonEmptyString" minOccurs="0" nillable="true" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FilesLoggingSubscriberDescription" type="me:FilesLoggingSubscriberDescriptionBase" nillable="true" />

	<xs:complexType name="PlainTextFilesLoggingSubscriberDescription" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="me:FilesLoggingSubscriberDescriptionBase">
				<xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="HealthWatcherDescription" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="ox:DescriptionBase">
				<xs:sequence>
					<xs:element name="IsDisabled" type="xs:boolean" />
					<xs:element name="IsAutoActivationEnabled" type="xs:boolean" />
					<xs:element name="WatchScopeMetadata" type="ox:MetadataRef" nillable="true" />
					<xs:element name="WatchTrigger" type="ox:MetadataRef" nillable="true" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
</xs:schema>